*
{
padding: 0;
margin: 0;

}
body 
{
    background-color: #DDDDDD;
}
.Cab
{
    padding-right: 0;
    padding-left: 55px; 
    padding-bottom: 15px;
    padding-top: 5px;
    margin: 0px;
    background-color: #D4707A;
    width: 100%;
}
.Cab2
{
    padding: 4px 15px;
    margin: 20px 30px 40px;
    background-color: white;
    width: 90%;
}
.NuevaPartida
{    
    color: white;
    background-color: #57aeea;
    padding: 10px 45px;
    margin-left: 43%;
    margin-bottom: 25px;
    border: 2px solid #84C5F3;
    border-radius: 12px;   
     
}
#btnNuevaPartida:active {
    transform: translateY(4px);
}
#ctnBoton
{
    margin-bottom: 10px;
    text-align:center;
}

#btnNuevaPartida:hover {
    opacity: 0.75;
}
#btnNuevaPartida
 {
    background: -moz-linear-gradient(center top, #57aeea, #3d94d1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center bottom, center top, from(#3d94d1), to(#57aeea));
    background-color: lightBlue;
    display: inline-block;
    font-size: 21px;
    margin-top: 20px;
    padding: 10px 45px;
    vertical-align: middle;
    font-family: Arial;
    color: #fff;
    border: 1px solid #84C5F3;
    text-shadow: 0 0 3px #333333;
    cursor: pointer;
    line-height: 1.42857143;
    -moz-box-shadow: 0 0 8px 1px #888888;
    -webkit-box-shadow: 0 0 8px 1px #888888;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    transition-duration: 0.4s;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.MiniDamasT
{
    font-family: 'Capriola', sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 22px;
    color: white;
    height: 50px;
    margin: 0px 0px 0px -15px;
    
    
}
.DAMAS
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 16px 15px 16px 12px;
    font-weight: 100;

}
.QUEES
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 16px 15px 16px 12px;
    font-weight: 100;
}
.PORTADA
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 14px;
}
.MiniDamasA
{
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1e5096;
}
.SeccionDetalle
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
}
.Reglas
{
    text-decoration: none;
    color: #1e5096;
}
.Contacto
{
    text-decoration: none;
    color: #1e5096;
}
.PiePag
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 50px;
    padding-left: 50px; 
    padding-bottom: 60px;
    padding-top: 35px;
    bottom: 110;
    margin: 0px;
    background-color:white;
    width: 100%;
}
.NuevaPartida
{
    text-decoration: none;
    font-family: 'Arial';
    color: black;
    font-size: 21px;
}
.p1
{
    margin-left: 40px;
    padding-bottom: 10px;
}
.p2
{
    margin-left: 40px;
    padding-bottom: 10px;
}
.p3
{
    margin-left: 40px;
    padding-bottom: 70px;
}

